{% extends 'hellomobileapp/base.html' %}
{% load static %}
{% block content %}
<head>
<link href="{% static 'css/login.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
</head>
<body>
</div>
<div class="container">
	 <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Search Customer ID</h5>
	<br><br>
	<form method="POST">
			{% csrf_token %}
			<input type="text" placeholder="SearchCustomer" name="search"required autofocus>
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	{% if check == 'found' %}
		{% if result.photo %}
			<div class="container" style="margin-top: 20px; margin-bottom: 20px">
				<img src="{{result.photo.url}}"  width="200">
			</div>
		{% else %}
			<div class="container" style="margin-top: 20px; margin-bottom: 20px">
				<img src="../media/studentphoto/default.png" width="200">
			</div>
		{% endif %}

		<p>ID: {{result.customer_id}} CustomerName: {{result.customer_name}}</p>
	{% elif check == 'notfound' %}
	<h1>{{result}}</h1>
	{% else %}
	{% endif %}
</div>
</div>
</div>
</div>
</div>
</body>
{% endblock content %}